/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  :root {
    --primary1: #0D0020;
    --secondary1: #f35444;
    --primaryDark: #f35444;
    --body: #FFFBF2;
    --bodyText: #282828;
  }
  
  /* montserrat-regular - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('../fonts/montserrat-v24-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v24-latin-regular.woff') format('woff');
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''), url('../fonts/montserrat-v24-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v24-latin-600.woff') format('woff');
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  @font-face {
    font-family: 'poppinsregular';
    src: url('poppins-regular-webfont.woff2') format('woff2'),
         url('poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'poppinsblack';
  src: url('poppins-black-webfont.woff2') format('woff2'),
       url('poppins-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'poppinsbold';
  src: url('poppins-bold-webfont.woff2') format('woff2'),
       url('poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'poppinsextrabold';
  src: url('poppins-extrabold-webfont.woff2') format('woff2'),
       url('poppins-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

  body,
  html {
    margin: 0;
    padding: 0;
    font-size: 85%;
    font-family: 'Montserrat', Arial, sans-serif;
    color: var(--bodyText);
    overflow-x: hidden;
  }
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    
  }
  .container {
    position: relative;
    width: 96%;
    margin: auto;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: #000;
    font-family: 'poppinsbold';
  }
  p,
  li,
  a {
    font-size: 16px;
    line-height: 1.66666667em;
    margin: 0;
    list-style-type: none;
  }
  p,
  li {
    color: #666666;
  }
  a:hover,
  button:hover {
    cursor: pointer;
  }


  /*-- -------------------------- -->
<---          Mine           -->
<--- -------------------------- -*/


span{
    display: block;
}






  .button-solid {
    font-size: 1.125em;
    text-decoration: none;
    display: inline-block;
    width: auto;
    line-height: 3.55555556em;
    height: 3.55555556em;
    text-align: center;
    padding: 0 2.77777778em;
    position: relative;
    z-index: 1;
   
    font-family: 'robotoregular';
    color: #fff;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
            border-radius: 35px;
    border: 1px solid var(--secondary1);
  }
  .button-solid:hover {
    color: #fff;
  }
  .button-solid:hover:before {
    width: 100%;
  }
  .button-solid:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    width: 0;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  .white-hover:hover {
    color: var(--primary);
  }
  .white-hover:before {
    background: #fff;
  }
  .skip {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1111111;
  }
}
@media only screen and (min-width: 48em) {
  body,
  html {
    font-size: 100%;
  }
}
/* Reset Margins */
@media only screen and (min-width: 64em) {
  body,
  html {
    padding: 0;
    margin: 0;
  }
}
/* Scale full website with the viewport width 2000px */
@media only screen and (min-width: 125em) {
  body,
  html {
    font-size: .85vw;
  }
}
/*-- -------------------------- -->
<---         Navigation         -->
<--- -------------------------- -*/
/* Mobile - Top Drop Down 1023px */
@media only screen and (max-width: 63.9375em) {
  body.scroll #navigation .background-color-div {
    height: 100%;
    background: var(--primary1);
  }
  body.scroll #navigation .logo .light {
    
  }
  body.scroll #navigation .logo .dark {
    display: block;
  }
  body.scroll #navigation .hamburger-menu span {
    background-color: white;
  }
  body.scroll #navigation .hamburger-menu span:before,
  body.scroll #navigation .hamburger-menu span:after {
    background-color: white;
  }
  body.scroll #dark-mode-toggle .moon path {
    fill: #000;
  }
  #navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    height: auto;
    font-size: 16px;
  }
  #navigation.clicked .background-color-div {
    height: 100%;
  }
  #navigation.clicked .logo .light {
    display: none;
  }
  #navigation.clicked .logo .dark {
    display: block;
  }
  #navigation .background-color-div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 0%;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-transition: height .3s;
    transition: height .3s;
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
  }
  #navigation .container {
    padding: 0.3125em 0;
    width: 96%;
  }
  #navigation .logo {
    display: inline-block;
    height: 2.5em;
    width: auto;
  }
  #navigation .logo img {
    width: auto;
    height: 100%;
  }
  #navigation .logo .light {
    display: block;
  }
  #navigation .logo .dark {
    display: none;
  }
  #navigation .hamburger-menu {
    position: absolute;
    right: 0em;
    border: none;
    height: 3em;
    width: 3em;
    z-index: 100;
    display: block;
    background: transparent;
    padding: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: top .3s;
    transition: top .3s;
  }
  #navigation .hamburger-menu span {
    height: 2px;
    width: 1.875em;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  #navigation .hamburger-menu span:before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 80%;
    background: #fff;
    opacity: 1;
    top: -6px;
    left: 0;
    -webkit-transition: width .3s, left .3s, top .3s, -webkit-transform .5s;
    transition: width .3s, left .3s, top .3s, -webkit-transform .5s;
    transition: width .3s, left .3s, top .3s, transform .5s;
    transition: width .3s, left .3s, top .3s, transform .5s, -webkit-transform .5s;
  }
  #navigation .hamburger-menu span:after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 80%;
    background: #fff;
    opacity: 1;
    top: 6px;
    left: 0;
    -webkit-transition: width .3s, left .3s, top .3s, -webkit-transform .3s;
    transition: width .3s, left .3s, top .3s, -webkit-transform .3s;
    transition: width .3s, left .3s, top .3s, transform .3s;
    transition: width .3s, left .3s, top .3s, transform .3s, -webkit-transform .3s;
  }
  #navigation .hamburger-menu.clicked span {
    background-color: transparent !important;
  }
  #navigation .hamburger-menu.clicked span:before {
    width: 100%;
    -webkit-transform: translate(-50%, -50%) rotate(225deg);
            transform: translate(-50%, -50%) rotate(225deg);
    left: 50%;
    top: 50%;
    background-color: #000;
  }
  #navigation .hamburger-menu.clicked span:after {
    width: 100%;
    -webkit-transform: translate(-50%, -50%) rotate(-225deg);
            transform: translate(-50%, -50%) rotate(-225deg);
    left: 50%;
    top: 50%;
    background-color: #000;
  }
  #navigation #navbar-menu {
    position: fixed;
    right: 0;
    padding: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;
    top: 0em;
    padding-top: 0;
    height: 0;
    -webkit-transition: height 0.3s, padding-top 0.3s, top 0.3s;
    transition: height 0.3s, padding-top 0.3s, top 0.3s;
  }
  #navigation #navbar-menu ul {
    padding: 0;
    -webkit-perspective: 700px;
            perspective: 700px;
  }
  #navigation #navbar-menu ul li {
    list-style: none;
    margin-bottom: 1.5em;
    text-align: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    opacity: 0;
    -webkit-transform: translateY(-0.4375em) rotateX(90deg);
            transform: translateY(-0.4375em) rotateX(90deg);
    -webkit-transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, transform .5s;
    transition: opacity .5s, transform .5s, -webkit-transform .5s;
  }
  #navigation #navbar-menu ul li:nth-of-type(1) {
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
  }
  #navigation #navbar-menu ul li:nth-of-type(2) {
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  #navigation #navbar-menu ul li:nth-of-type(3) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  #navigation #navbar-menu ul li:nth-of-type(4) {
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  #navigation #navbar-menu ul li:nth-of-type(5) {
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
  #navigation #navbar-menu ul li:nth-of-type(6) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  #navigation #navbar-menu ul li:nth-of-type(7) {
    -webkit-transition-delay: .7s;
            transition-delay: .7s;
  }
  #navigation #navbar-menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    line-height: 1.2em;
    font-size: 1.42em;
    text-align: center;
    display: inline-block;
    position: relative;
    font-weight: bold;
  }
  #navigation #navbar-menu ul li a.active:before {
    content: '';
    position: absolute;
    display: block;
    height: 0.2em;
    background: var(--primary);
    opacity: 1;
    bottom: -0.33333333em;
    left: -0.4em;
    right: -0.4em;
    z-index: -1;
  }
  #navigation #navbar-menu.open {
    height: 25.5em;
    padding-top: 1.425em;
    z-index: -100;
    background:#0D0020;
    opacity: 0.95;
  }
  #navigation #navbar-menu.open ul li {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
}
/* Desktop 1024px */
@media only screen and (min-width: 64em) {
  body.scroll #navigation .background-color-div {
    height: 100%;
    background: var(--primary1);
  
  }
  body.scroll #navigation .logo .light {
    
  }
  body.scroll #navigation .logo .dark {
    display: block;
  }
  body.scroll #navigation #navbar-menu ul li a {
   /* color: #1a1a1a;*/
  }
  body.scroll #navigation #navbar-menu ul li a:hover:before,
  body.scroll #navigation #navbar-menu ul li a.active:before {
    background: var(--primary);
  }
  body.scroll #dark-mode-toggle svg path {
    fill: #000;
  }
  body.dark-mode #navigation .background-color-div {
    height: 100%;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  #navigation {
    width: 100%;
    height: 6.25em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200000;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: inherit;
  }
  #navigation .background-color-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 0;
    -webkit-transition: height .3s;
    transition: height .3s;
  }
  #navigation .container {
    max-width: 88.75em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navigation .logo {
    margin-right: auto;
    height: 5em;
    width: auto;
  }
  #navigation .logo img {
    width: auto;
    height: 100%;
  }
  #navigation #navbar-menu {
    font-size: min(1.2vw, 1em);
  }
  #navigation #navbar-menu ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navigation #navbar-menu ul li {
    list-style: none;
    margin-left: 2.5em;
    padding-top: 0.1875em;
    font-size: 1em;
  }
  #navigation #navbar-menu ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9375em;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    color: #fff;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  #navigation #navbar-menu ul li a:before {
    content: '';
    position: absolute;
    display: block;
    height: 0.2em;
    background: #fff;
    opacity: 1;
    bottom: -0.33333333em;
    z-index: -1;
    left: 0;
    width: 0%;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  #navigation #navbar-menu ul li a:hover:before {
    width: 100%;
  }
  #navigation #navbar-menu ul li a.active:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2em;
    background: #fff;
    opacity: 1;
    bottom: -0.33333333em;
    left: 0em;
    right: -0.4em;
    z-index: -1;
    -webkit-transition: bottom .3s;
    transition: bottom .3s;
  }
  #navigation .hamburger-menu {
    display: none;
  }
}
/* Desktop 1500px */
@media only screen and (min-width: 93.75em) {
  #navigation #navbar-menu ul li {
    margin-left: 5em;
  }
}
/* Dark Mode Mobile 1023px */
@media only screen and (max-width: 63.9375em) {
  body.dark-mode #navigation .background-color-div {
    background-color: var(--dark);
  }
  body.dark-mode #navigation .hamburger-menu.clicked span {
    background-color: var(--dark);
  }
  body.dark-mode #navigation .hamburger-menu span {
    background-color: #fff;
  }
  body.dark-mode #navigation .hamburger-menu span:before,
  body.dark-mode #navigation .hamburger-menu span:after {
    background-color: #fff;
  }
  body.dark-mode #navigation .logo .light {
    display: block;
  }
  body.dark-mode #navigation .logo .dark {
    display: none !important;
  }
  body.dark-mode #navigation #navbar-menu {
    background-color: var(--medium);
  }
  body.dark-mode #navigation #navbar-menu ul li a {
    color: #fff;
  }
  body.dark-mode #navigation #navbar-menu ul li a:before {
    background: var(--primaryAccessible);
  }
  body.dark-mode #navigation #navbar-menu ul li a.active {
    color: var(--primaryAccessible);
  }
}
/* Dark Mode Desktop 1024px */
@media only screen and (min-width: 64em) {
  body.dark-mode.scroll #navigation #navbar-menu ul li a.active:before {
    background: var(--primaryAccessible);
  }
  body.dark-mode #navigation .background-color-div {
    background-color: var(--dark);
  }
  body.dark-mode #navigation .logo .light {
    display: block;
  }
  body.dark-mode #navigation .logo .dark {
    display: none !important;
  }
  body.dark-mode #navigation #navbar-menu ul li a {
    color: #fff;
  }
  body.dark-mode #navigation #navbar-menu ul li a:before {
    background: var(--primaryAccessible);
  }
  body.dark-mode #navigation #navbar-menu ul li a.active {
    color: var(--primaryAccessible);
  }
}






































/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  :root {
    --primary: #fff;
    --label: #7D799C;
    --bodyTextColorWhite: #FFF;
    /* 60px - 100px top and bottom */
    --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
  }
  #cs-footer-4873 {
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
    background-color: var(--primary1);
    /* Navigation Links */
    padding-bottom: 1.5em;
  }
  #cs-footer-4873 .cs-container {
    width: 100%;
    /* reset on desktop */
    max-width: 43.75em;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2.5em;
  }
  #cs-footer-4873 .cs-logo-group {
    /* takes up all the space, lets the other ul's wrap below it */
    width: 100%;
    position: relative;
  }
  #cs-footer-4873 .cs-logo {
    width: 11.125rem;
    height: auto;
    display: block;
    margin-bottom: 1.5rem;
  }
  #cs-footer-4873 .cs-logo-img {
    width: 100%;
    height: auto;
  }
  #cs-footer-4873 .cs-logo-img.dark {
    display: none;
  }
  #cs-footer-4873 .cs-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    width: 78%;
    /* changes to 305px at desktop */
    max-width: 26.25rem;
    color: var(--bodyTextColorWhite);
  }
  #cs-footer-4873 .cs-nav {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.75rem;
  }
  #cs-footer-4873 .cs-nav-li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #cs-footer-4873 .cs-header {
    font-size: 1rem;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: var(--bodyTextColorWhite);
    position: relative;
    display: block;
  }
  #cs-footer-4873 .cs-nav-link {
    font-size: 1rem;
    text-decoration: none;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
    position: relative;
    display: inline-block;
    transition: color .3s;
  }
  #cs-footer-4873 .cs-nav-link:before {
    /* underline */
    content: '';
    width: 0%;
    height: 0.125rem;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width .3s;
  }
  #cs-footer-4873 .cs-nav-link:hover {
    color: var(--primary);
  }
  #cs-footer-4873 .cs-nav-link:hover:before {
    width: 100%;
  }
  #cs-footer-4873 .cs-icon {
    width: 1.5rem;
    height: auto;
    margin-right: 0.75rem;
  }
  #cs-footer-4873 .cs-bottom {
    max-width: 80rem;
    margin: auto;
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid #484848;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-footer-4873 .cs-copyright,
  #cs-footer-4873 .cs-copyright-link {
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
  }
  #cs-footer-4873 .cs-copyright-link {
    text-decoration: none;
    transition: color .3s;
  }
  #cs-footer-4873 .cs-copyright-link:hover {
    color: var(--primary);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #cs-footer-4873 .cs-container {
    row-gap: 0;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 2.5rem;
  }
  #cs-footer-4873 .cs-nav {
    width: auto;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64em) {
  #cs-footer-4873 .cs-container {
    max-width: 80rem;
    flex-wrap: nowrap;
    /* align everything to the right */
    justify-content: flex-end;
    column-gap: 5.25rem;
  }
  #cs-footer-4873 .cs-logo-group {
    width: 30%;
    max-width: 24.1875em;
    /* pushes away from everything to the right */
    margin-right: auto;
  }
  #cs-footer-4873 .cs-text {
    width: 100%;
  }
}
